/* Font colors */

$base-font-size: 14px;
$base-font-family: 'Poppins', sans-serif;
$base-font-color: #212121;

/* Background Colors */
$primary-color:  #0e76bc;
$secondary-color: #ffd51a;
$light-color: #555;
$dark-color: #363636;
